    <head>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="Charts/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="Charts/css/main.css">
        <!-- <link rel="stylesheet" href="css/chart.css"> -->
        <!-- <script src="js/vendor/modernizr-2.8.3.min.js"></script>
        <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script><!--used to activate jqueory--> -->


    </head>
      <div style="max-width:900px" ng-app="adstream-app" >
        <canvas id="lineChart" width="400" height="400"></canvas>
      </div>
